body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f5dfc9;
    color: #333;

    background-image: url('C:\Users\PC\Documents\fotoFLOKVE.webp');
    background-repeat: no-repeat;
    background-position: 0%;
   
   }
   header {
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    display: flex;
    align-items: center; 
}
   header img {
    max-width: 65px; 
    height: auto;
    margin-right: 20px; 
}