body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    color: #333;
    background-image: url('../img/backgroundJA.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
   
   }
   header {
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    display: flex;
    align-items: center; 
}
   header img {
    max-width: 65px; 
    height: auto;
    margin-right: 20px; 
}

nav {
    margin-top: 5px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: peru;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color:peru;
    text-decoration: none;
}
.text-with-shadow {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 450px;
            margin-top: 50px;
            justify-content: center;
            align-items: center;
            margin-left: 500px;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, select {
           
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        .error {
            color: red;
            margin-top: -10px;
            margin-bottom: 10px;
        }
        textarea {
            width: 100%;
        }
        footer {
        background-color:rgb(255, 255, 255, 0.8) ;
        color: black;
        padding: 20px 0;
        
    }
    
    .footer-container{
    
        display: flex;
        justify-content: space-around;
    }
    
    .quick-links,
    .get-in-touch {
        flex: 1;
        margin-left: 100px;
    }
    .get-in-touch p {
        margin-left: 100px;
        font-size: 20px;
    }
    .quick-links h2,
    .get-in-touch h2 {
        margin-left: 100px;
        margin-bottom: 10px;
    }
    .left{
        margin-left: 100px;
    }
     footer ul {
        list-style: none;
        padding: 0;
    }
    
     footer ul li {
        margin-left: 100px;
        margin-bottom: 8px;
        font-size: 20px;
    }
    
     footer a {
        text-decoration: none;
        color:black;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
    .site-footer-payments {
padding: 40px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: rgba(236, 206, 176, 0.5);
}
.site-footer-payments__link__icon {
display: block;
margin: 1.5vw;
justify-content: center;

}