body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f5dfc9;
    color: #333;
  
   }
   header {
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    display: flex;
    align-items: center; 
}
   header img {
    max-width: 65px; 
    height: auto;
    margin-right: 20px; 
}

nav {
    margin-top: 5px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: peru;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color:peru;
    text-decoration: none;
}
.text-with-shadow {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

 #video-section {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    margin-bottom: 80px;
}   
.linear-gradient{
    background: linear-gradient(to right, white,peru);
    color:black;
    text-align: center;
    padding: 20px;
}
.slider-container {
overflow: hidden;
}

.slider {
display: flex;
transition: transform 0.5s ease-in-out;
}

.slider img {
width: 100%;
height: 400px;
background-color:#f4e5c4 ;
}
.slide img {
height: 400px;
width: 450px;
margin-bottom: 80px;
background-color: rgb(247, 230, 201);
}
button {
position: absolute;
top: 1300px;
transform: translateY(-50%);
font-size: 2.5em;
background: none;
border:#f5dfc9;
color: #000000;
cursor: pointer;
outline:#fde7c2;
}

.prev {
left: 10px;
}

.next {
right: 10px;
}
.second-container{
display: flex;
align-items: center;
justify-content: space-around;
padding: 20px;
background-color:rgb(246, 229, 208);
}

.round-image {
border-radius: 50%;
width: 600px;
height: 600px;
}

.quote-container {
max-width: 500px;
}

blockquote {
font-size: 1.2em;
color: #333;
}
.carousel-container {
    overflow: hidden;
    
}

.image-row {
    display: flex;
    animation: floatImages 30s linear infinite; 
    margin-bottom: 50px; 
}

.image-item {
    flex: 1;
    margin-right: 70px; 
    text-align: center;
}

.image-item img {
    width: 280px;
    height: auto;
}

@keyframes floatImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.third-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 70px;
}

.square-image {
    width: 600px; 
    height: 600px;
    object-fit: cover; 
    border-radius: 8px; 
}

.quote-container {
    max-width: 500px; 
}

blockquote {
    font-size: 1.2em;
    color: #333;
    
}
table{
    width: 100%;
    border-collapse: collapse;
    border-color: #000;
    background-color:white;
    margin-top: 20px;
    border-style: dashed;
}
th, td, tr{
    
    padding: 10px;
    text-align: center;
    font-size: 20px;
    
}
td{
    background-color:white; 
}

th {
    background-color: rgba(236, 206, 176, 0.5); 
}

.site-footer-payments {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 206, 176, 0.5);
    }
    .site-footer-payments__link__icon {
    display: block;
    margin: 1.5vw;
    justify-content: center;
    }
    
    
    footer {
        background-color:rgba(236, 206, 176, 0.5) ;
        color: black;
        padding: 20px 0;
    }
    
    .footer-container{
    
        display: flex;
        justify-content: space-around;
    }
    
    .quick-links,
    .get-in-touch {
        flex: 1;
        margin-left: 100px;
    }
    .get-in-touch p {
        margin-left: 100px;
        font-size: 20px;
    }
    .quick-links h2,
    .get-in-touch h2 {
        margin-left: 100px;
        margin-bottom: 10px;
    }
    .left{
        margin-left: 100px;
    }
     footer ul {
        list-style: none;
        padding: 0;
    }
    
     footer ul li {
        margin-left: 100px;
        margin-bottom: 8px;
        font-size: 20px;
    }
    
     footer a {
        text-decoration: none;
        color:black;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
    .product {
    
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    .cart {
        margin-right: 0%;
    }
    
    
    .add-to-cart {
        background-color: #4CAF50;
        color: white;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
    }
    #cart-img {
        width: 30px;
        margin-left: 700px;
    }
    
    
    #cart {
        border: 1px solid #ccc;
        background-color: white;
        padding: 10px;
       }
    
    #cart-items {
        list-style:none ;
        padding: 4;
        text-align: center;
    }
    
    #cart-total {
        font-weight: bold;
    }
    
    .hidden {
        display: none;
        
    }
   

